@import "reset";
@import "base";
@import "media_queries";

// general
body {
    font-family: var(--font-family);
    color: var(--color-text);
    letter-spacing: 0.2rem;
    background: white;
}
.container {
    display: grid;
    grid-template-rows: 250px 1fr 200px;
    grid-template-columns: 350px 1fr;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    @include md {
        grid-template-rows: 200px 1fr 200px;
        grid-template-columns: 300px 1fr;
    }
}
.fas,
.fab {
    border-bottom: 1px solid rgba($color: #fb9850, $alpha: 0.7);
    box-shadow: 3px 2px 3px var(--lightersecondary);
    color: var(--color-text);
}
// header
header {
    grid-area: header;
    background: linear-gradient(
        to right,
        var(--lighter10) 350px,
        var(--lighter50)
    );
    color: var(--color-text-secondary);
    display: grid;
    grid-template-rows: 150px 100px;
    grid-template-columns: 350px 1fr;
    grid-template-areas:
        "img name"
        "img jobf";
    @include md {
        display: grid;
        grid-template-rows: 120px 80px;
        grid-template-columns: 300px 1fr;
        grid-template-areas:
            "img name"
            "img jobf";
    }
    .img {
        padding-top: 30px;
        width: 100%;
        height: 100%;
        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 200px;
            width: 200px;
            @include md {
                height: 140px;
                width: 140px;
            }
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 250px;
        @include md {
            height: 200px;
        }
        border-bottom: 1px solid rgba($color: #fb9850, $alpha: 0.7);
        box-shadow: 3px 2px 3px var(--lightersecondary);
        h1 {
            text-align: center;
            line-height: 150px;
            font-size: 6rem;
            @include md {
                line-height: 100px;
                font-size: 4rem;
                letter-spacing: 1rem;
            }
            font-weight: 400;
            letter-spacing: 2rem;
            margin-bottom: 0;
        }
        p {
            text-align: center;
            font-size: 2.5rem;
            font-weight: 700;
            margin: 0;
            letter-spacing: 0.7rem;
        }
    }
}

// aside
aside {
    grid-area: aside;
    background: var(--lighter10);
    p {
        margin: 0;
    }
    .p-aside {
        line-height: 4rem;
    }
    h2 {
        margin: 2rem 2rem 2rem 5rem;
        font-size: 2.2rem;
    }
    ul {
        margin-bottom: 5rem;
        li {
            margin: 0 0 1rem 3rem;
        }
    }
    .profil {
        background: linear-gradient(
            to bottom,
            var(--lighter10),
            var(--lighter50)
        );
        color: var(--color-text-secondary);
        border-bottom: 1px solid rgba($color: #fb9850, $alpha: 0.7);
        box-shadow: 3px 2px 3px var(--lightersecondary);
        border-radius: 0 0 50% 0;
        margin-bottom: 4rem;
        padding: 2rem 0 5rem 0;
        position: relative;
        .background {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            height: calc(100% + 4rem);
            width: 100%;
            background: var(--lighter10);
            z-index: -1;
        }
        h2 {
            margin-top: 0;
        }
    }
    .contact {
        background: var(--lighter10);
    }
    .p-profil {
        margin: 0 3rem 0rem 3rem;
    }
    .info-1 {
        font-weight: 700;
    }
    .hobbies {
        li {
            display: flex;
            flex-flow: row nowrap;
            i {
                height: 4rem;
                width: 4rem;
                border-radius: 30px;
                text-align: center;
                line-height: 4rem;
                margin-right: 1rem;
                background: white;
                font-size: 2rem;
            }
        }
    }
    .skills-section {
        display: none;

        @include md {
            display: block;
            padding-bottom: 50px;
        }
    }
    .load {
        display: none;
        flex-flow: row nowrap;
        justify-content: center;
        .load-button {
            padding: 1.5rem 2rem;
            margin-top: 6rem;
            text-align: center;
            border: none;
            border-radius: 30px;
            background: white;
            font-size: 1.6rem;
            font-weight: 700;
            border-bottom: 1px solid rgba($color: #fb9850, $alpha: 0.7);
            box-shadow: 3px 2px 3px var(--lightersecondary);
        }
    }
}
// main
main {
    grid-area: main;
    background: white;
    margin-top: 5rem;
    section {
        margin-bottom: 8rem;
        h2 {
            margin: 1rem 0 3rem 4rem;
            font-size: 2.8rem;
        }
        h4 {
            margin: 0 0 0.5rem 2rem;
            font-size: 2rem;
        }
        p {
            margin: 0 3rem 2rem 2rem;
            text-align: justify;
        }
    }
}
.formation {
    display: flex;
    flex-flow: row nowrap;
    margin: 2rem 0 4rem 0;
}
.date {
    text-align: center;
    margin: 0;
    padding: 0rem 2rem 0rem 4rem;
}
.bloc-text {
    height: 90%;
    border-left: 1px solid black;
}
// main compétences
.main-skills {
    display: block;
    @include md {
        display: none;
    }
}
.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin: 0 1rem 5rem 10rem;
    @include md {
        margin: 0 1rem 1rem 3rem;
    }
}
.skill {
    flex-basis: 30%;
    margin: 1rem;
    .title-skill {
        margin-bottom: 1rem;
    }
}
.skill-bar {
    width: 200px;
    height: 10px;
    position: relative;
    background: var(--background);
    &:before {
        box-sizing: border-box;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 0px;
        content: "";
        width: 80%;
        height: 10px;
        background: var(--primary);
        @include md {
            background: var(--secondary);
        }
    }
    &:after {
        box-sizing: border-box;
        display: inline-block;
        position: absolute;
        top: -2.5px;
        left: calc(80% - 7.5px);
        content: "";
        width: 14px;
        height: 14px;
        background-color: var(--secondary);
        @include md {
            background: var(--primary);
        }
        transform: rotate(45deg);
    }
}
.javascript {
    &:before {
        width: 70%;
    }
    &:after {
        left: calc(70% - 7.5px);
    }
}
.vuejs,
.nodejs {
    &:before {
        width: 50%;
    }
    &:after {
        left: calc(50% - 7.5px);
    }
}
// footer
footer {
    display: none;
    grid-area: footer;
    background: linear-gradient(
        to right,
        var(--lighter10) 350px,
        var(--lighter50)
    );
    border-top: 1px solid var(--darker);
    h2 {
        text-align: center;
        margin-top: 3rem;
    }
    .fas,
    .fab {
        color: var(--color-text);
        border-bottom: none;
        box-shadow: none;
        background: var(--color-text-secondary);
    }
}
form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    label {
        width: 50px;
        text-align: center;
        font-size: 3rem;
        color: var(--color-text);
        border: 1px solid var(--darker);
        background: var(--color-text-secondary);
    }
    input {
        font-size: 2rem;
        color: var(--color-text);
        padding-left: 15px;
        width: 400px;
        border: 1px solid var(--darker);
    }
    button {
        width: 50px;
        text-align: center;
        font-size: 3rem;
        border: 1px solid var(--darker);
        background: var(--color-text-secondary);
        margin: 0;
    }
}
