* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

h1,
h2,
h2,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}

ul {
  list-style: none;
}

a {
  color: var(--text);
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
body {
  font-family: var(--font-family);
  color: var(--color-text);
  letter-spacing: 0.2rem;
  background: white;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 250px 1fr 200px;
      grid-template-rows: 250px 1fr 200px;
  -ms-grid-columns: 350px 1fr;
      grid-template-columns: 350px 1fr;
      grid-template-areas: "header header" "aside main" "footer footer";
}

@media (min-width: 768px) and (max-width: 1400px) {
  .container {
    -ms-grid-rows: 200px 1fr 200px;
        grid-template-rows: 200px 1fr 200px;
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
  }
}

.fas,
.fab {
  border-bottom: 1px solid rgba(251, 152, 80, 0.7);
  -webkit-box-shadow: 3px 2px 3px var(--lightersecondary);
          box-shadow: 3px 2px 3px var(--lightersecondary);
  color: var(--color-text);
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background: linear-gradient(to right, var(--lighter10) 350px, var(--lighter50));
  color: var(--color-text-secondary);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 100px;
      grid-template-rows: 150px 100px;
  -ms-grid-columns: 350px 1fr;
      grid-template-columns: 350px 1fr;
      grid-template-areas: "img name" "img jobf";
}

@media (min-width: 768px) and (max-width: 1400px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 120px 80px;
        grid-template-rows: 120px 80px;
    -ms-grid-columns: 300px 1fr;
        grid-template-columns: 300px 1fr;
        grid-template-areas: "img name" "img jobf";
  }
}

header .img {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .img img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media (min-width: 768px) and (max-width: 1400px) {
  header .img img {
    height: 140px;
    width: 140px;
  }
}

header .header {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 250px;
  border-bottom: 1px solid rgba(251, 152, 80, 0.7);
  -webkit-box-shadow: 3px 2px 3px var(--lightersecondary);
          box-shadow: 3px 2px 3px var(--lightersecondary);
}

@media (min-width: 768px) and (max-width: 1400px) {
  header .header {
    height: 200px;
  }
}

header .header h1 {
  text-align: center;
  line-height: 150px;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 2rem;
  margin-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1400px) {
  header .header h1 {
    line-height: 100px;
    font-size: 4rem;
    letter-spacing: 1rem;
  }
}

header .header p {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.7rem;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
  background: var(--lighter10);
}

aside p {
  margin: 0;
}

aside .p-aside {
  line-height: 4rem;
}

aside h2 {
  margin: 2rem 2rem 2rem 5rem;
  font-size: 2.2rem;
}

aside ul {
  margin-bottom: 5rem;
}

aside ul li {
  margin: 0 0 1rem 3rem;
}

aside .profil {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--lighter10)), to(var(--lighter50)));
  background: linear-gradient(to bottom, var(--lighter10), var(--lighter50));
  color: var(--color-text-secondary);
  border-bottom: 1px solid rgba(251, 152, 80, 0.7);
  -webkit-box-shadow: 3px 2px 3px var(--lightersecondary);
          box-shadow: 3px 2px 3px var(--lightersecondary);
  border-radius: 0 0 50% 0;
  margin-bottom: 4rem;
  padding: 2rem 0 5rem 0;
  position: relative;
}

aside .profil .background {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: calc(100% + 4rem);
  width: 100%;
  background: var(--lighter10);
  z-index: -1;
}

aside .profil h2 {
  margin-top: 0;
}

aside .contact {
  background: var(--lighter10);
}

aside .p-profil {
  margin: 0 3rem 0rem 3rem;
}

aside .info-1 {
  font-weight: 700;
}

aside .hobbies li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

aside .hobbies li i {
  height: 4rem;
  width: 4rem;
  border-radius: 30px;
  text-align: center;
  line-height: 4rem;
  margin-right: 1rem;
  background: white;
  font-size: 2rem;
}

aside .skills-section {
  display: none;
}

@media (min-width: 768px) and (max-width: 1400px) {
  aside .skills-section {
    display: block;
    padding-bottom: 50px;
  }
}

aside .load {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside .load .load-button {
  padding: 1.5rem 2rem;
  margin-top: 6rem;
  text-align: center;
  border: none;
  border-radius: 30px;
  background: white;
  font-size: 1.6rem;
  font-weight: 700;
  border-bottom: 1px solid rgba(251, 152, 80, 0.7);
  -webkit-box-shadow: 3px 2px 3px var(--lightersecondary);
          box-shadow: 3px 2px 3px var(--lightersecondary);
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  background: white;
  margin-top: 5rem;
}

main section {
  margin-bottom: 8rem;
}

main section h2 {
  margin: 1rem 0 3rem 4rem;
  font-size: 2.8rem;
}

main section h4 {
  margin: 0 0 0.5rem 2rem;
  font-size: 2rem;
}

main section p {
  margin: 0 3rem 2rem 2rem;
  text-align: justify;
}

.formation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 2rem 0 4rem 0;
}

.date {
  text-align: center;
  margin: 0;
  padding: 0rem 2rem 0rem 4rem;
}

.bloc-text {
  height: 90%;
  border-left: 1px solid black;
}

.main-skills {
  display: block;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .main-skills {
    display: none;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0 1rem 5rem 10rem;
}

@media (min-width: 768px) and (max-width: 1400px) {
  .skills {
    margin: 0 1rem 1rem 3rem;
  }
}

.skill {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 1rem;
}

.skill .title-skill {
  margin-bottom: 1rem;
}

.skill-bar {
  width: 200px;
  height: 10px;
  position: relative;
  background: var(--background);
}

.skill-bar:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  width: 80%;
  height: 10px;
  background: var(--primary);
}

@media (min-width: 768px) and (max-width: 1400px) {
  .skill-bar:before {
    background: var(--secondary);
  }
}

.skill-bar:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: -2.5px;
  left: calc(80% - 7.5px);
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--secondary);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 768px) and (max-width: 1400px) {
  .skill-bar:after {
    background: var(--primary);
  }
}

.javascript:before {
  width: 70%;
}

.javascript:after {
  left: calc(70% - 7.5px);
}

.vuejs:before,
.nodejs:before {
  width: 50%;
}

.vuejs:after,
.nodejs:after {
  left: calc(50% - 7.5px);
}

footer {
  display: none;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background: linear-gradient(to right, var(--lighter10) 350px, var(--lighter50));
  border-top: 1px solid var(--darker);
}

footer h2 {
  text-align: center;
  margin-top: 3rem;
}

footer .fas,
footer .fab {
  color: var(--color-text);
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: var(--color-text-secondary);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form label {
  width: 50px;
  text-align: center;
  font-size: 3rem;
  color: var(--color-text);
  border: 1px solid var(--darker);
  background: var(--color-text-secondary);
}

form input {
  font-size: 2rem;
  color: var(--color-text);
  padding-left: 15px;
  width: 400px;
  border: 1px solid var(--darker);
}

form button {
  width: 50px;
  text-align: center;
  font-size: 3rem;
  border: 1px solid var(--darker);
  background: var(--color-text-secondary);
  margin: 0;
}
/*# sourceMappingURL=style.css.map */